 @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text;
  /* background-image: url('/Bg_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

